table,
th,
td {
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}

table {
  border: 3px solid black;
}
th {
  border: 1px solid black;
  border-bottom: 3px solid black;
}
td {
  border: 1px solid black;
}

body {
  background-color: #eeeeee;
  font-family: sans-serif;
}

.everything {
  width: 600px;
  background-color: #ffffff;
  margin: auto;
  padding: 32px;
}

p {
  text-align: justify;
}

.lego {
  color: #007bff;
  font-style: italic;
}

h1 {
  text-align: center;
}

a:any-link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}
a:any-link:hover {
  text-decoration: underline;
}

.image {
  text-align: center;
}

.source {
  font-size: 12px;
  text-align: right;
}

.map {
  text-align: center;
}
